/* CSS for the App component */

@media screen and (max-width: 400px) {
  #features {
    width: 100%;
  }
  #header,
  #about,
  #team,
  #events,
  #join,
  #contact,
  #footer {
    width: 100%;
  }

  #portfolio {
    width: 100%;
  }
}
